<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SMG - Confirmation de changement d'email</title>
    <style>
    </style>
</head>
<body>
    <header>
        <h1>Confirmation de changement d'email</h1>
    </header>
    <div>
        <p>Votre email a bien été modifié. Un mail vous sera envoyé sur cette dernière.</p>
        <a class="redirect-link" href="">Retour sur le site</a>
    </div>
    <script>
        document.querySelector('.redirect-link').setAttribute('href', '<%= clientUrl %>');
    </script>
    
</body>
</html>